.boxes {
    display: flex;
    justify-content: space-evenly;
}
.left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.nav {
    background-color: rgb(59, 58, 58);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}

.nav-links {
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: right;
    list-style: none;
    text-decoration: none;

}

.nav-title {
    align-items: center;
    font-size: xx-large;
    padding-left: 100px;
}

.home {
    color: white;
    text-decoration: none;
    margin-right: 30px;

}

.find {
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

.btn {
    background-color: rgb(44, 179, 202);
    color: white;
    box-shadow: 3px 4px 4px black;
}

.active {
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 30px;

}

.container {
    background-color: white;
    height: 350px;
    width: 350px;
    border: solid 5px rgb(155, 157, 157);
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    flex-direction: column;
}

.border {
    background-color: rgb(44, 179, 202);
    height: 75px;
    width: 350px;
    justify-content: flex-start;
    align-items: flex-start;
}

.box {
    height: 275px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 25px;
    font-size: medium;

}

.user {
    display: flex;
    height: 60px;
    width: 60px;
    position: absolute;
    border: 5px solid rgb(155, 157, 157);
    border-radius: 50%;
    top: 160px;
    left: 160px;

}

.marker {
    height: 15px;
    width: 10px;
    align-items: center;
}

.stats {
    font-size: medium;
    font-weight: bold;
}

.Master {
    font-size: medium;
    font-weight: bold;
}

.where {
    display: flex;
    font-size: medium;
    gap: 15px;

}

.gear {
    height: 15px;
    width: 15px;
}

.edit {
    font-size: medium;
    display: flex;
}

.seattle {
    font-size: medium;
    margin: 0px;
}

.last {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.name {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: x-large;
}

.container2 {
    background-color: white;
    height: 350px;
    width: 350px;
    border: solid 5px rgb(155, 157, 157);
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    flex-direction: column;
}

.border2 {
    height: 75px;
    width: 350px;
    background-color: rgb(53, 52, 52);
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Education {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(190, 194, 194);
    align-items: center;
    padding: 20px;
    font-size: larger;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 10px;
}

h1 {
    font-size: large;
}

.when {
    font-size: medium;
    color: rgb(155, 157, 157);
}

.container3 {
    height: 250px;
    width: 350px;
    border: 5px solid rgb(182, 179, 179);
    margin: 30px;
    flex-direction: column;
}
.requests {
    height: 60px;
    width: 350px;
    background-color: rgb(53, 52, 52);
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.two {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(211, 210, 210);
    color: black;
    align-items: center;
    margin-left: 25px;
}
.conn {
    color: rgb(211, 210, 210);
    justify-content: center;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-left: 10px;
}
.todde {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}
.name1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.Todd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.accept {
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: flex-end;

}
.decline {
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: flex-end;

}
.phil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    font-size: large;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.philk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    font-size: large;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.container4 {
    height: 400px;
    width: 350px;
    border: 5px solid  rgb(182, 179, 179);
    margin-left: 30px;
    margin-top: 30px;

}
.connections {
    width: 350px;
    height: 100px;
    background-color: rgb(53, 52, 52);
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.Adrian {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: large;
    margin-left: 30px;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.five {
    height: 50px;
    width: 75px;
    border-radius: 50%;
    border: 3px solid black;
    align-items: center;
    background-color: rgb(211, 210, 210);
    margin-left: 20px;

}
.yourconn {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(211, 210, 210);
    justify-content: flex-end;
    margin-left: 15px;
    font-size: larger;
}
.view {
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    font-size: larger;
}
.edit {
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    font-size: large;
}
.Anne {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
    gap: 20px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.Alayne {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
    margin-left: 30px;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.Arry {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
    gap: 20px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.view {
    height: 50px;
    width: 350px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-start;
    border-top: 5px solid rgb(182, 179, 179);
}